## Deliverable 3. Create a Travel Itinerary Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Puerto Escondido,MX,81.43,clear sky,15.8500,-97.0667,NaN
1,7,Vaini,TO,84.36,few clouds,-21.2000,-175.2000,NaN
2,16,Hadejia,NG,75.00,clear sky,12.4498,10.0444,NaN
3,17,Hambantota,LK,80.56,broken clouds,6.1241,81.1185,NaN
4,21,Beira,MZ,76.84,light rain,-19.8436,34.8389,NaN

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Name</dt><dd>{City}</dd>
<dt>Another name</dt><dd>{Country}</dd>
<dt>weather description</dt><dd>{Current Description}</dd>
<dt>Maximum temperature </dt><dd>{Max Temp}</dd>
</dl> """

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [11]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Santa Rosa"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Santa Rosa"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Buluang"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Alugan"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Dingle"]

In [15]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [20]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
travel_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING'  or 'BICYCLING' or 'WALKING' )
fig.add_layer(travel_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_start],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,385,Santa Rosa,PH,88.11,overcast clouds,14.3122,121.1114,NaN
1,331,Buluang,PH,83.19,broken clouds,13.3068,123.3425,NaN
2,395,Alugan,PH,84.02,overcast clouds,12.2188,125.4808,NaN
3,534,Dingle,PH,84.88,broken clouds,10.9995,122.6711,NaN
4,385,Santa Rosa,PH,88.11,overcast clouds,14.3122,121.1114,NaN

In [33]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>weather description</dt><dd>{Current Description}</dd>
<dt>Maximum temperature </dt><dd>{Max Temp}</dd>
</dl> """

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [39]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(travel_itinerary)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))